.body {
  box-sizing: border-box;
  display: block;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 4237.5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 1349px;
  -webkit-font-smoothing: antialiased;
}

.header {
  box-sizing: border-box;
  display: block;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 25px;
  width: 1349px;
  -webkit-font-smoothing: antialiased;
}

.headerContent {
  box-sizing: border-box;
  display: flex;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 75px;
  justify-content: space-between;
  line-height: 100px;
  margin-bottom: 0px;
  margin-left: 24.5px;
  margin-right: 24.5px;
  margin-top: 0px;
  max-width: 1300px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  position: relative;
  width: 1300px;
  -webkit-box-pack: justify;
  -webkit-font-smoothing: antialiased;
}

// .logoURL

// .amzLogoURL
